

.tableContainer{
    height: 100%;
    overflow: auto;
}
.large-column,
.normal-row{
    font-size:14px;
    display: flex;
    align-items: center;
}
.temperature-unit{
    font-style: oblique;
}
.pagination{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-content: center;
}
.single-page,
.next-page,
.previous-page{
    background: #137bbd;
    color: white;
    padding: 5px 11px;
    border: 1px solid white;
    border-radius: 2px;
}
.single-page:hover,
.next-page:hover,
.previous-page:hover{
    background: #00436f;
    opacity: 0.8;
}
.active-page{
    background: #00436f;
}
.single-page a,
.next-page a ,
.previous-page a{
    color:white;
}
.break-me{
    padding: 0 8px;
}