body {
	font-family: "Raleway", sans-serif;
	font-weight: normal;
}
html,body {
	height:100%;
	position: relative;
}
body{
	overflow: hidden;
}
.marginTopBottom{
	margin: 25px 0;
}
/*
h1 {
	font-family: "Vidaloka", serif;
}*/
.app-Container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	/*background: linear-gradient(70deg, rgb(232, 241, 237), rgb(19, 124, 189));*/
	/*background: linear-gradient(60deg, rgb(38, 133, 193), rgb(22, 155, 101) 50%);*/
	flex-direction: column;
	justify-content: center;
}

.app-Conta-child {
	width: 80%;
	align-self: center;
	box-shadow: none !important;
	background: transparent !important;
}

.space-between{
	justify-content: space-between;
}
.flex{
	display: flex;
}
.fullWidth{
	width:100%;
}
.opactiy-mid{
	opacity: 0.7;
}
.fontWeight{
	font-weight: 500;
}
.captialize{
	text-transform: capitalize;
}

.zeropadding{
	padding: 0!important;
}
.fullHeight{
	height:100vh;
}
.contentCenter{
	justify-content: center;
}

.alignCenter{
	align-items: center;
}

.parentHeight{
	height: 100%;
}
.height80{
	height:80%;
}
.width90{
	width:90%;
}